body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    margin: 10px;
    text-align: center;
}

.movie img {
    width: 180px;
    height: 240px;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgb(199, 199, 199);
}

.movie h2 {
    margin: 10px 0;
    font-size: 16px;
    height: 40px;
}
.movie-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;
    margin-top: 0.5rem;
}

.favorite-button {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 0.2rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    touch-action: manipulation;
}

.favorite-button:hover {
    background-color: #ffd700;
}


.more-info {
    background-color: #f3e5e5;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 0.2rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    touch-action: manipulation;
}

.gold-border {
    border: 3px solid gold;
    background-color: rgba(255, 217, 0, 0.075);
}


.fav-but-div,
.add-movie-form,
.search-movie-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.add-movie-form input[type="text"],
.search-movie-form input[type="text"] {
    appearance: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    width: 250px;
}

.add-movie-form button,
.search-movie-form button {
    appearance: none;
    background: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    padding: 10px;
}

.add-movie-form button:hover,
.search-movie-form button:hover {
    background-color: #eee;
}


/* CSS */
.favoritas {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
}

.favoritas:hover {
    background-color: #fff;
}

.favoritas:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.allMovies {
    background-color: #ffffff;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
}

.allMovies:hover {
    background-color: #fff;
}

.allMovies:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}